<app-doctor-header class="app-header sticky"></app-doctor-header>


<div class="basicDetails">

<div class="container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <div class="item" fxFlex="80%" fxFlexOrder="2">
      <mat-card style="height: 200px;">
          <mat-card-content>
              <h5> Dr. {{ doctor.doctorFirstName }} {{ doctor.doctorLastName }} </h5>
              <h5> {{ doctor.doctorRegNum }} </h5>
              <h5> {{ doctor.doctorEmail }} </h5>
              <h5> {{ doctor.doctorPhoneNumber }}</h5>
              <h5> {{ doctor.doctorCity }} </h5>
          </mat-card-content>
      </mat-card>
    </div>
    <div class="item avatar" fxFlex="25%">
      <mat-card style="height: 200px;">
        <mat-card-content style="display: flex; flex-flow: column wrap; align-items: center;">
          <ngx-avatar [name]="docName" size="120" [round]="true"></ngx-avatar>
          <mat-chip-list style="padding: 4px;">
            <mat-chip> {{ doctor.doctorSpecialization }} ( {{ doctor.doctorExperience }} Years) </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
</div>

<div class="container">
  <div>
    <mat-card>
      <mat-card-subtitle>
        Address
      </mat-card-subtitle>
      <mat-card-content>
        <h5> {{ doctor.doctorAddress }} </h5>
        <h5> {{ doctor.pincode }} </h5>
      </mat-card-content>
    </mat-card>
  </div>
</div>

</div>


<div class="profile-options">
  <button mat-stroked-button color="primary" (click)="goToManageSlots()"> View Time Slots </button>
  <button mat-stroked-button color="primary" (click)="goToUpdateProfile()"> Update Profile </button>
</div>
