<app-doctor-header></app-doctor-header>
<div *ngIf="appointmentExist" class="current-appointments">
  <div *ngFor="let slot of todaySlots">
    <mat-card>
      <mat-card-subtitle class="time-slot">
        <div>
          <h4> {{ slot.timeSlot.startTime | date: 'shortTime' }} </h4>
          <h4> {{ slot.timeSlot.endTime | date: 'shortTime' }} </h4>
        </div>
        <div>
          <h3> {{ slot.attendees.length }} has booked appointment with you in this slot. </h3>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Patients Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let attendee of slot.attendees">
                <mat-card>
                  <!-- {{ attendee }} -->
                </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="!appointmentExist">
  <mat-card>
    <mat-card-content>
      <h4> You don't have appointments for this day..! </h4>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!doctorProfileExists">
  <mat-card>
    <mat-card-content>
      Please Provide your profile details and update your availability times to view your current appointments.
    </mat-card-content>
  </mat-card>
  <button mat-stroked-button (click)="goToProfile()">
    Update Your Profile
  </button>
</div>

