<div class="home-container">
    <div class="title">
      <h3>Cure Assist | <span class="lead">Doctor Portal</span></h3>
    </div>
    <div class="chicklet-container">
        <!-- <app-doctor-view-appointments [when]="today"></app-doctor-view-appointments> -->
        <!-- <app-doctor-view-appointments [when]="upcoming"></app-doctor-view-appointments> -->
        <app-doctor-profile detailType="name"></app-doctor-profile>
        <div class="chicklet-data-container">
            <div class="left">
                <app-doctor-profile detailType="personalInformation"></app-doctor-profile>
                <app-doctor-profile detailType="address"></app-doctor-profile>
            </div>
            <div class="right">
                <app-doctor-view-appointments when="today"></app-doctor-view-appointments>
                <app-doctor-view-appointments when="upcoming"></app-doctor-view-appointments>
                <app-doctor-manage-slots></app-doctor-manage-slots>
            </div>
        </div>
    </div>
</div>
