<app-onboarding-homepage></app-onboarding-homepage>
<div class="login-container">
  <div class="login-container-hero-image"></div>
  <form class="login-form-container">
    <h1>Login</h1>
    <mat-form-field>
      <input matInput placeholder="Enter your email Id" [(ngModel)]="emailId" name="emailId" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>
    <p class="error-status" *ngIf="errorStatus==403">
      Please Enter Correct Email and Password
    </p>
    <button mat-raised-button color="primary" (click)="LoginUser()">LogIn</button>
  </form>
</div>