.app-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
button {
  margin: 20px;
  font-size: 1.5em;
  text-decoration-style: double;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color:black;
}
