<app-diagnostic-center-header class="app-header sticky"></app-diagnostic-center-header>

<!-- <p>diagnostic-center-profile works!</p> -->

<div class="profile-details">
  <mat-card>
    <mat-card-title style="margin: auto;">
      <h3> Basic Details </h3>
    </mat-card-title>
    <mat-card-content>
      <h4> Name: {{ diagnosticCenter.diagnosticCenterName }}</h4>
      <h5> Email: {{ diagnosticCenter.diagnosticCenterEmail }} </h5>
      <h5> Phone: {{ diagnosticCenter.diagnosticCenterPhone }} </h5>
      <h5> City: {{ diagnosticCenter.diagnosticCenterCity }} </h5>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h4> Complete Address </h4>
    </mat-card-title>
    <mat-card-content>
      <h5> Address: {{ diagnosticCenter.diagnosticCenterAddress }} </h5>
      <h5> Pincode: {{ diagnosticCenter.pincode }} </h5>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h4> Advanced Details </h4>
    </mat-card-title>
    <mat-card-content>
      <h5> Registration Number: {{ diagnosticCenter.diagnosticCenterRegNum }} </h5>
      <h5> Tests Conducted: <mat-chip *ngFor="let test of testsConducted" color="primary"> {{ test }} </mat-chip> </h5>
    </mat-card-content>
  </mat-card>
</div>

<div class="profile-options">
  <button mat-stroked-button color="primary" (click)="goToManageSlots()"> View Time Slots </button>
  <button mat-stroked-button color="primary" (click)="goToUpdateProfile()"> Update Profile </button>
</div>