.profile-details{
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.profile-options{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

.tests{
  display: flex;
  flex-flow: row wrap;
}

.app-header{
  position: relative;
}