<!-- <p>doctor-timeslot works!</p> -->
<!-- <p>time-slot works!</p> -->

<form [formGroup]="tsForm">
  <div>
    <label>Slot Start Time (HH:MM)</label>
    <input formControlName="slotStartTime">
    <label>Slot End Time (HH:MM)</label>
    <input formControlName="slotEndTime">
    <label>Slot Capacity</label>
    <input formControlName="slotCapacity">
  </div>
  <button mat-stroked-button *ngIf="timeSlotValueNotNull" (click)="updateTimeSlot()"> Confirm </button>
  <button mat-stroked-button *ngIf="!timeSlotValueNotNull" (click)="addNewTimeSlot()"> Add Slot </button>
</form>
