
<div class="home-container">
    <div class="title">
        <h3>Cure Assist | <span class="lead">Diagnosis Center Portal</span></h3>
    </div>
    <div class="chicklet-container">
      <app-diagnostic-center-profile detailType="name"></app-diagnostic-center-profile>
        <div class="chicklet-data-container">
            <div class="left">
                <app-diagnostic-center-profile detailType="personalInformation"></app-diagnostic-center-profile>
                <app-diagnostic-center-profile detailType="address"></app-diagnostic-center-profile>
            </div>
            <div class="right">
                
            </div>
        </div>
    </div>
</div>