<app-diagnostic-center-header></app-diagnostic-center-header>

<!-- <p>diagnostic-center-home works!</p> -->

<div *ngIf="dcProfileExists" class="current-appointments">
  <div *ngFor="let slot of todaySlots">
    <mat-card>
      <mat-card-subtitle class="time-slot">
        <div>
          <h4> {{ slot.timeSlot.startTime | date: 'shortTime' }} </h4>
          <h4> {{ slot.timeSlot.endTime | date: 'shortTime' }} </h4>
        </div>
        <div>
          <h3> {{ slot.slotCapacity }} has occupied this slot. </h3>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Patients Details
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="!dcProfileExists">
  <mat-card>
    <mat-card-content>
      Please Provide your profile details and update your availability times to view your current appointments.
    </mat-card-content>
  </mat-card>
  <button mat-stroked-button (click)="goToSetProfile()">
    Update Your Profile
  </button>
</div>