
<h1>Your Appointments</h1><hr>
<!-- <mat-accordion >
       <mat-expansion-panel *ngFor="let appointment of appointments" (click)=click()>
         <mat-expansion-panel-header>
           <mat-panel-title>
                   <h4>Appointment Date: {{appointment.date | date}}</h4>
           </mat-panel-title>
         </mat-expansion-panel-header>
         <div *ngFor="let item of doctorFirstName">{{item}}</div>
         <div *ngFor="let item of appointment.slots" ><h3>At: </h3> {{item.timeSlot.startTime | date:'HH:mm'}}{{item.attendees}} With:<h3 *ngFor="let item of doctorFirstName">{{item}}</h3></div>
       </mat-expansion-panel>
</mat-accordion> -->
<mat-accordion *ngFor="let appointment of appointments">
       <mat-expansion-panel  (click)=click2() (click)=click()>
         <mat-expansion-panel-header>
           <mat-panel-title>
                   <h4>Appointment Date: {{appointment.date | date}}</h4>
           </mat-panel-title>
         </mat-expansion-panel-header>
         <!-- <div *ngFor="let item of diagnosticName">{{item}}</div>
         <div *ngFor="let item of doctorFirstName">{{item}}</div> -->
         <div *ngFor="let item of appointment.slots" >
           <!-- {{item.timeSlot.startTime}} -->
           At: {{item.timeSlot.startTime | date:'HH:MM':'+0000'}}
         </div>
          {{appointment.doctorDetail}}
          {{appointment.diagnosticDetail}}
       </mat-expansion-panel>
</mat-accordion>