<!-- <mat-toolbar class="patient-header" color="primary" style="margin-top: -10px">
    <button mat-button (click)="homebutton()">CureAssist</button>
    <button mat-button (click)="viewprescription()">ViewPrescription</button>
    <button mat-button (click)="viewtestreport()">ViewTestReports</button>
    <button class="Profile" mat-button [matMenuTriggerFor]="profile">Profile</button>
    <mat-menu #profile="matMenu">
        <button class="Profile" mat-menu-item (click)="viewProfile()">View Profile</button>
        <button class="Profile" mat-menu-item (click)="editProfile()">Edit profile</button>
        <button class="Profile" mat-menu-item (click)="resetpassword()">Change Password</button>
        <button class="Profile" mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet> -->

<div class="home-container">
  <div class="title">
    <h3>Cure Assist | <span class="lead">Patient Portal</span></h3>
    <button mat-button (click)="viewprescription()">ViewPrescription</button>
  </div>

  <div class="chicklet-container">
    <app-view-edit detailType="name"></app-view-edit>
    <mat-card>
      <app-search></app-search>
    </mat-card>
    <div class="chicklet-data-container">
      <div class="left">
        <app-view-edit detailType="contact-info"></app-view-edit>
        <app-view-edit detailType="personal-info"></app-view-edit>
        <!-- <app-view-edit detailType="profile"></app-view-edit> -->
      </div>
      <div class="right">
        <app-view-appointment when="today"></app-view-appointment>
        <app-view-appointment when="upcoming"></app-view-appointment>
      </div>
    </div>
  </div>
</div>
