<!-- <div class="Background-Image"> -->
  <form [formGroup]="service.formModel" (submit)="onsubmit()">
    <div class="profileContent">
        <br><br><br>
        <h3>Create Profile</h3>
        <mat-form-field class="form-group" class="full-width">
            <mat-label>Pharmacy Name</mat-label>
            <input matInput class="form-control" formControlName="pharmacyName" name="pname" required>
        </mat-form-field>
        <mat-form-field class="form-group" class="full-width">
            <mat-label>Pharmacy Register Number</mat-label>
            <input matInput class="form-control" formControlName="pharmacyRegisterNumber" name="prnumber" required>
        </mat-form-field>
        <mat-form-field class="form-group" class="full-width">
            <mat-label>Pharmacy Location</mat-label>
            <input matInput class="form-control" formControlName="pharmacyLocation" name="plocation" required>
        </mat-form-field>
        <mat-form-field class="form-group" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput class="form-control" formControlName="phoneNumber" name="PhoneNumber" required>
        </mat-form-field>
        <mat-form-field class="form-group" class="full-width">
            <mat-label>EmailId</mat-label>
            <input matInput class="form-control" formControlName="emailId" name="emailId" required>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary"> Submit </button>
</form>
<!-- </div> -->