<app-home-page></app-home-page>
<div class="login-container">
    <div class="login-container-hero-image"></div>
    <form class="login-form-container">
        <h1>Reset Password</h1>
        <mat-form-field>
            <input matInput placeholder="Enter old Password" [(ngModel)]="oldpassword" type="password" name="password"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter new Password" [(ngModel)]="newpassword" type="password" name="password"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Re-enter new Password" [(ngModel)]="confirmnewpassword" type="password"
                name="password" required>
        </mat-form-field>
        <!-- <p class="error-status" *ngIf="errorStatus==401">
            Unauthorized Access
        </p>
        <p class="error-status" *ngIf="errorStatus==406">
            Password and Confirm password should match.
        </p> -->
        <button mat-raised-button color="primary" (click)="resetPassword()">Submit</button>
    </form>
</div>