
.city-field{
    padding-bottom: 40vh;
    padding-left: 10vh;
    border-radius: 50vh;
    padding-bottom: 40vh;
    padding-left: 10vh;
}
/* .city-field{
    border-radius: 108vh;
    box-shadow: 10px 5px 5px grey;
} */
.search-container{
    padding-top: 15vh;
    padding-left: 40vh;
}
.search-card {
    width: 90vh;
    margin-left: 50vh;
}
.search-field{
    width:80vh;
    height: 5vh;   
    box-shadow: 10px 5px 5px grey;
    border-radius: 108vh;
}
.searchList{
    background-color: aliceblue;
}
@media only screen and (max-width: 557px)
{
    .city-field{
        border-radius: 150vh;
    }
    /* .search-container{ 
        padding-top: 15vh;
        padding-left: 6vh;
    } */
    .search-card {
        width: 90vh;
        margin-left: 50vh;
    }
    .search-field{
        background: white;
        width:50vh;
        height: 5vh;
        padding-top: 40vh;
        border-radius: 108vh;
    }
    .search{
        padding: 300vh;
        margin: 100vh;
    }
}
@media only screen and (max-width: 768px)
{
    .city-field{
        border-radius: 108vh;
    }
    .search-container{
        padding-top: 15vh;
        padding-left: 3vh;
    }
    .search-card {
        width: 90vh;
        margin-left: 50vh;
    }
    .search-field{
        background: white;
        width:50vh;
        height: 5vh;
        border-radius: 108vh;
    }
}
