.search-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.search-container > * {
    margin-left: 10px;
}

.city-field{
    flex: 1;
}
.search{
    margin-right: 35vh;
    flex: 1;
}
.search-card {
    width: 90vh;
    margin-left: 0vh;
}
.search-field{
    flex: 4;
    width: 100%;
    height: 5vh;   
   
}
.searchList{
    background-color: aliceblue;
}
@media only screen and (max-width: 557px)
{
    .search-container{
        padding-top: 1vh;
        padding-left: 40vh;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(243, 222, 139);
    }
    .city-field{
        flex: 1;
    }
    .search{
        margin-right: 35vh;
        flex: 1;
    }
    .search-card {
        width: 90vh;
        margin-left: 0vh;
    }
    .search-field{
        width:80vh;
        height: 5vh;   
        box-shadow: 10px 5px 5px grey;
        /* border-radius: 108vh; */
    }
    .searchList{
        background-color: aliceblue;
    }
}
@media only screen and (max-width: 768px)
{
    .city-field{
        border-radius: 108vh;
    }
    
    .search-container{
        display: flex;
        justify-content: space-between;
    }

    .search-card {
        width: 90vh;
        margin-left: 50vh;
    }
    .search-field{
        background: white;
        width:50vh;
        height: 5vh;
        border-radius: 108vh;
    }
}