<app-doctor-header></app-doctor-header>

<div>
<div *ngFor="let p of patients">
  <mat-card>
    <mat-card-subtitle>
      Patient Details
    </mat-card-subtitle>
    <mat-card-content>
      <h4> Patient Name: {{ p.firstName }} {{ p.lastName }} </h4>
      <h5> Patient Phone Number: {{ p.phoneNumber }} </h5>
      <h5> </h5>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="openPrescriptionDialog(p.userId)"> Add Prescription </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>