
<div class="mat-elevation-z2" *ngIf="when == 'today'">
        <div class="appointments-container" *ngIf="todayPatients.length == 0">
          <h4>Today's Appointments</h4>
          <div>
            You don't have any appointments.
          </div>
        </div>
        <div class="appointments-container" *ngIf="todayPatients.length > 0">
          <p class="title">Today's Appointments</p>
          <table class="appointments" mat-table [dataSource]="todayPatients">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let patient">{{patient.firstName | titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef>Phone Number</th>
              <td mat-cell *matCellDef="let patient">{{patient.phoneNumber}}</td>
            </ng-container>
      
            <ng-container matColumnDef="prescription">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let patient">
                <button mat-flat-button color="primary"(click)= openPrescriptionDialog(patient.userId)>View Patient</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
          </table>
        </div>
        <!-- <button mat-button (click)="viewallapointments()">View All Appointments</button> -->
      </div>
      
      <!-- Upcoming appointments -->
      
      <div class="mat-elevation-z2" *ngIf="when == 'upcoming'">
        <div class="appointments-container" *ngIf="tomorrowPatients.length == 0">
          <h4>Upcoming Appointments</h4>
          <div>
            You don't have any upcoming appointments.
          </div>
        </div>
        <div class="appointments-container" *ngIf="tomorrowPatients.length > 0">
          <p class="title">Upcoming Appointments</p>
          <table class="appointments" mat-table [dataSource]="tomorrowPatients">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let patient">{{patient.firstName | titlecase}}
                {{doctor.doctorLastName | titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef>Phone Number</th>
              <td mat-cell *matCellDef="let patient">{{patient.phoneNumber}}</td>
            </ng-container>
      
            <ng-container matColumnDef="prescription">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let patient">
                <button mat-flat-button color="primary">View patient</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
          </table>
        </div>
      </div>
      
      <!-- Previous appointment -->
      
      
      <!-- <div class="mat-elevation-z2" *ngIf="when == 'previous'">
        <div class="appointments-container" *ngIf="previousPatients.length == 0">
          <h4>Previous Appointments</h4>
          <div>
            You don't have any previous appointments.
          </div>
        </div>
        <div class="appointments-container" *ngIf="previousPatients.length > 0">
          <p class="title">Previous Appointments</p>
          <table class="appointments" mat-table [dataSource]="previousPatients">
            <ng-container matColumnDef="doctorFirstName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let doctor">{{doctor.doctorFirstName | titlecase}}
                {{doctor.doctorLastName | titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="doctorPhoneNumber">
              <th mat-header-cell *matHeaderCellDef>Phone Number</th>
              <td mat-cell *matCellDef="let doctor">{{doctor.doctorPhoneNumber}}</td>
            </ng-container>
      
            <ng-container matColumnDef="doctorLastName">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let doctor">
                <button mat-flat-button color="primary">View Doctor</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
          </table>
        </div>
      </div> -->
      
      <!-- 
      <div class="mat-elevation-z2" *ngIf="when == 'upcoming'">
        <div class="appointments-container" *ngIf="tomorrowPatients.length == 0">
          <h4>Upcoming Appointments</h4>
          <div>
            You don't have any upcoming appointments.
          </div>
        </div>
        <div class="appointments-container" *ngIf="tomorrowPatients.length> 0">
          <table mat-table [dataSource]="tomorrowPatients">
            <ng-container matColumnDef="doctorFirstName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let doctor">{{doctor.doctorFirstName }}</td>
            </ng-container>
            <ng-container matColumnDef="doctorPhoneNumber">
              <th mat-header-cell *matHeaderCellDef>Phone Number</th>
              <td mat-cell *matCellDef="let doctor">{{doctor.doctorPhoneNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="doctorLastName">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let doctor">
                  <button mat-flat-button color="primary">View Doctor</button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
          </table>
        </div>
      </div> -->




<!-- <div class="mat-elevation-z2" *ngIf="when == 'today'">
    <div class="appointments-container" *ngIf="todayPatients.length > 0">
        <p class="title">Today's Appointments</p>
        <table class="appointments" mat-table [dataSource]="todayPatients">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let patient">{{patient.firstName | titlecase}} {{patient.lastName | titlecase}}</td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let patient">{{patient.phoneNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="prescription">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let patient">
                    <button mat-flat-button color="primary" (click)= openPrescriptionDialog(patient.userId)>View Patient</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
        </table>
    </div>
    <button mat-button (click)="viewAllAppointments()">View All Appointments</button>
</div>

 <div *ngIf="when == 'upcoming'"> 
    <div class="appointments-container" *ngIf="laterPatients.length == 0">
        <h4>Upcoming Appointments</h4>
        <div>
            You don't have any upcoming appointments.
        </div>
    </div>
    <div class="appointments-container" *ngIf="laterPatients.length > 0">
        <table mat-table [dataSource]="laterPatients">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let patient">{{patient.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Phone Number</th>
                <td mat-cell *matCellDef="let patient">{{patient.phoneNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="symptoms">
                <th mat-header-cell *matHeaderCellDef>Symptoms</th>
                <td mat-cell *matCellDef="let patient">
                    {{patient.symptoms}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="patientDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: patientDisplayedColumns;"></tr>
        </table>
    </div>
</div> -->