<app-navbar></app-navbar>
<div class="profile-view">
  <mat-card class="profile-card">
    <div class="imagecontainer">
      <img src="../../../assets/images/icon.jpg" alt="doctor image">
    </div>
    <div class="details-container">
      <mat-card-header>
        <mat-card-title>Dr.&nbsp;{{viewprofiledata.doctorFirstName}}&nbsp;{{viewprofiledata.doctorLastName}}
        </mat-card-title>
        <mat-card-subtitle>
          <h3>Experience:</h3>{{viewprofiledata.doctorExperience}}years
        </mat-card-subtitle>
        <mat-card-subtitle>
          <h3>Specialization:</h3>{{viewprofiledata.doctorSpecialization}}
        </mat-card-subtitle>
        <mat-card-subtitle>
          <h3>City:</h3>{{viewprofiledata.doctorCity}}
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <hr>
    <mat-accordion>
      <mat-expansion-panel [class.mat-expansion-panel]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button mat-raised-button color="primary">Book Appointment</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date"
              [(ngModel)]="bookdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br>
          <div *ngFor="let time of viewprofiledata.doctorSlots">
            <button mat-raised-button color="primary"
              (click)="openDialog(time.slotStartTime,time.slotEndTime, viewprofiledata.doctorId)">
              {{time.slotStartTime}} To: {{time.slotEndTime}}</button>&nbsp;
            &nbsp;
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
<!-- {{bookdate|json}} -->
