<mat-toolbar class="homePage" color="primary">
  <button mat-button (click)=gotohome()> CureAssist </button>
  <button mat-button (click)= getMyOrders()>My Orders</button>
  <span class="gotoend"></span>
  <button class="Profile" mat-button [matMenuTriggerFor]="profile">Profile</button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item (click)="editprofile()">editProfile</button>
    <button mat-menu-item (click)="viewprofile()">ViewProfile</button>
    <button mat-menu-item (click)=  resetPassword()>Change Password</button>
    <button mat-menu-item (click)=logout()>Logout</button>
  </mat-menu>
</mat-toolbar>
