<mat-toolbar class="homePage" color="primary">
  <a href="#">CureAssist</a>
  <button mat-button>OrderHistory</button>
  <button class="Profile" mat-button [matMenuTriggerFor]="profile">Profile</button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item routerLink="pharmacy/createprofile" routerLinkActive="active">editProfile</button>
    <button mat-menu-item (click)="viewprofile()">ViewProfile</button>
    <button mat-menu-item>Change Password</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
<p></p>